// **Import variables and mixins **//
@import url(variables.less);
@import url(mixins.less);
// **---------------------------**//

.row{
    margin:0 auto;
}

.error{
    font-style:italic;
    color:red;
}
